body {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	margin: 0;
	padding: 0;
	width: 644px;
	font-size: 1.0em;
}

#map {
	position: absolute;
	width: 644px;
	height: 500px;
}

#map.thin {
	width: 322px;
}

#location {
	position: absolute;
	display: none;
	width: 312px;
	margin: 5px;
	top: 0px;
	left: 322px;
	border: 1px #bbb solid;
	height: 100%;
}

#location .closeButton {
	background-image: url("images/close.png");
	width: 24px;
	height: 24px;
	float: right;
	margin: 5px;
}

#location .closeButton span {
	display: none;
}

#location.show {
	display: block;
}

#location h2{
	/* total height is 35px */
	background: #7f93bc;
	color: #fff;
	margin: 0;
	border-bottom: solid 1px white;
	padding: 5px;
	line-height: 24px;
}

#location .content {
	height: 465px;
	overflow: auto;
}

#location .content .inner {
	margin: 5px;
}

#bubbleHead {
	font-size: 0.9em;
	color: #3b5998;	
}

#bubbleText {
	width: 200px;	
}

#bubbleText p {
	padding: 0px;
	margin: 10px;	
	font-size: 0.7em;
}

#bubbleText p.openLink {
	float: right;
	font-size: 0.7em;
	padding:0;
	margin: 2px;
	
}

#addLocationContainer {
	position: absolute;
	top: 100px;
	left: 100px;
	background: url(images/formback.png) transparent ;
	border: 1px #BBBBBB solid;
	width: 500px;
	padding: 0;
}

#addLocationContainer h2 {
	background: #7f93bc;
	color: #fff;
	margin: 0;
	padding: 5px;
}

#formWrap {
	padding: 20px;
}

#blocker {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 800px;
	height: 800px;
}

label {
	padding-top: 15px;
	float: left;
	font-weight: bold;
	width: 100px;
}

input {
	margin-top: 15px;
	margin-left: 10px;
	padding-left: 0px;
}

textarea {
	margin-top: 15px;
	margin-left: 10px;
	padding-left: 0px;
}

.buttons {
	float: right;
}
